@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration-line: none;
}


/************ Header Main CSS Start **************/

.header-nav ul li a {
  text-decoration-line: none;
  color: #000;
  font-family: "Maven Pro", serif;
  font-size: 14px;
  font-weight: 500;
  transition: all .6s ease;
  position: relative;
}

.header-nav ul li a:hover {
  color: #D01018;
}

.header-nav ul li a::before {
  position: absolute;
  content: "";
  background: red;
  width: 0%;
  height: 2px;
  left: 50%;
  bottom: -4px;
  transform: translate(-50%);
  transition: all 0.6s ease;
}

.header-nav ul li a:hover:before {
  width: 100%;
}

.header-nav {
  height: 100%;
}

.header-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0px;
  padding: 0px;
}


.header-end ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
}

.header-end {
  height: 100%;
}

header.header-main {
  margin: 20px 0px 0px 0px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  z-index: 9999;
}


.header-main .container {
  padding: 10px 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 100px;
  backdrop-filter: blur(10px);
  border: 1px solid #d0101824;
}

.header-end ul li a {
  font-size: 16px;
  background: #fff;
  border: 1px solid #D01018;
  border-radius: 50px;
  padding: 1px 6px 5px 6px;
  color: #D01018;
  transition: all .6s ease;
  cursor: pointer;
}

.header-end ul li a:hover {
  color: #fff;
  background: #D01018;
}

.header-nav ul li:focus {
  outline: none;
}


.header-end ul li .shopping-bag-icon {
  font-size: 16px;
  background: #fff;
  border: 1px solid #D01018;
  border-radius: 50px;
  padding: 1px 6px 5px 6px;
  color: #D01018;
  transition: all .6s ease;
  cursor: pointer;
}

.header-end ul li .shopping-bag-icon:hover {
  color: #fff;
  background: #D01018;
}


.search-bar-container {
  position: absolute;
  margin-top: 10px;
  right: 0px;

}

.search-input {
  width: 250px;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.search-input:focus {
  outline: none;
}

.suggestion-list {
  align-items: flex-start !important;
  flex-direction: column !important;
  position: absolute !important;
  background: white !important;
  border: 1px solid #ddd !important;
  width: 250px !important;
  overflow-y: auto !important;
  z-index: 100 !important;
  height: auto !important;
}

.suggestion-list li {
  padding: 8px;
  cursor: pointer;
  width: 100%;
}

.suggestion-list li:hover {
  background-color: #f1f1f1;
}

.search-toggle {
  font-size: 16px;
  background: #fff;
  border: 1px solid #D01018;
  border-radius: 50px;
  padding: 0px 6px 4px 6px;
  color: #D01018;
  transition: all .6s ease;
  cursor: pointer;
  margin: 4px 0px 0px 0px;
}

.search-toggle:focus {
  outline: none;
}

.search-toggle:hover {
  color: #fff;
  background: #D01018;
}


.search-main {
  position: relative;
}

form.search-form {
  display: flex;
  align-items: center;
  position: relative;
}

.search-form .search-icon-btn {
  width: 35px;
  height: 40px;
  position: absolute;
  right: 1px;
  border: 1px solid #D01018;
  background: #D01018;
  color: #fff;
  transition: all .6s ease;
  border-radius: 3px;
  line-height: 10px;
}

/************ Header Main CSS End **************/



/************ Mobile responsive Header CSS Start **************/



.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 75%;
  height: 100%;
  background: #fff;
  z-index: 9999;
  transition: left 0.3s ease-in-out;
}

.mobile-menu.open {
  left: 0;
}

.mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #00000014;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}

.mobile-menu ul li {
    padding: 10px;
    transition: all .6s ease;
}

.mobile-menu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    font-family: 'Maven Pro';
    transition: all .6s ease;
}

.mobile-menu ul li:hover {
    background: #D01018;
}

.mobile-menu ul li:hover a {
    color: #fff;
}

.hamburger-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu-header button {
  border: none;
  background: transparent;
  color: #000;
}

.mobile-menu-header button svg {
  width: 30px;
  height: 30px;
}

.hamburger-btn {
  color: #D01018;
  line-height: 50px;
}

.hamburger-btn svg {
  width: 28px;
  height: 28px;
}

/************ Mobile responsive Header CSS End **************/



/************ CartSidebar CSS Start **************/


.cart-sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 350px;
  height: 100vh;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
  z-index: 9999;
  overflow-y: auto;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-sidebar.open {
  right: 0;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-btn {
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-item {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

.cart-item svg {
  color: #D01018;
  cursor: pointer;
}

.cart-item img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
}

.item-details {
  flex: 1;
}

.item-details h4 {
  margin: 0;
  font-size: 16px;
}

.item-details p {
  margin: 5px 0;
  font-weight: bold;
}

.item-details input {
  width: 60px;
  padding: 4px;
  margin-top: 5px;
}

.item-details button {
  background: #ff4d4f;
  color: #fff;
  padding: 4px 8px;
  margin-top: 6px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 13px;
}

.cart-footer {
  margin-top: 20px;
  text-align: center;
}

.checkout-btn {
  width: 100%;
  background-color: #D01018;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Poppins';
  border: 1px solid #D01018;
  transition: all .6s ease;
  display: block;
}

.checkout-btn:hover {
  background: transparent;
  color: #D01018;
}

.cart-content {
  height: 100%;
}

.cart-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-header svg {
  cursor: pointer;
}

.cart-content p {
  font-family: 'Poppins';
  color: #000;
  font-size: 16px;
  margin: 0px 0px 5px 0px;
}

.addtocart-sidebar-data h5 {
  font-family: 'Maven Pro';
  margin: 0px 0px 0px 0px;
  font-size: 18px;
}

.cart-total span {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Poppins';
}

.cart-item-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-counter-sidebar {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  width: fit-content;
  padding: 2px 10px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  margin: 0px 0px 5px 0px;
}

.card-counter-sidebar button {
  background: transparent;
  border: none;
  font-family: 'Maven Pro';
}


/************ CartSidebar CSS End **************/



/************ Theme Button CSS Start **************/


.theme-btn {
  color: #fff;
  background: #D01018;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 50px;
  border-radius: 30px;
  border: 1px solid #D01018;
  transition: all .6s ease;
}

.theme-btn:hover {
  background: transparent;
  color: #D01018;
}


.theme-light {
  color: #D01018;
  background: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 50px;
  border-radius: 30px;
  border: 1px solid #fff;
  transition: all .6s ease;
}

.theme-light:hover {
  background: transparent;
  color: #fff;
}

/************ Theme Button CSS End **************/




/************ First Banner CSS Start **************/


.first-banner-sec {
  background: url(./images/firstsec-background.png);
  background-size: cover;
  width: 100%;
  padding: 100px 0px;
  position: relative;
}

.first-banner-text {
  padding: 100px 0px 60px 0px;
}

.first-banner-text h5 {
  font-family: "Allison", serif;
  font-size: 50px;
  text-transform: capitalize;
  color: #D31119;
}

.first-banner-text h2 {
  font-family: "Poller One", serif;
  font-size: 135px;
  line-height: 120px;
  text-transform: uppercase;
  color: #000;
}

.first-banner-text h2 span {
  color: #D01018;
  display: block;
}

.first-banner-text p {
  padding: 0px 0px 10px 0px;
  font-family: "Maven Pro", serif;
  font-size: 17px;
  color: #000;
  font-weight: 400;
}


.first-banner-slider {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: visible;
}

/* .first-banner-slider button.slick-arrow.slick-next {
    background: transparent;
    width: 100%;
    position: relative;
}

.first-banner-slider button.slick-arrow.slick-next::before {
    background: transparent;
    font-size: 50px;
    color: black;
    position: absolute;
    right: 0px;
}

.first-banner-slider button.slick-arrow.slick-prev {
  background: transparent;
  width: 100%;
  position: relative;
}

.first-banner-slider button.slick-arrow.slick-prev::before {
  background: transparent;
  font-size: 50px;
  color: black;
  position: absolute;
  right: 0px;
  bottom: 0px;
} */

.slick-slide img:focus {
  outline: none;
}


.firstbanner-img img:focus {
  outline: none;
}


.custom-prev-arrow,
.custom-next-arrow {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.custom-prev-arrow {
  left: 10px;
}

.custom-next-arrow {
  right: 10px;
}

.custom-prev-arrow:hover,
.custom-next-arrow:hover {
  color: #007bff;
}



/************ First Banner CSS End **************/



/************ Black Marquee Sec CSS Start **************/

.armor-black-marquee {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  padding: 10px 0px;
}


.armor-black-marquee h5 {
  color: #fff;
  margin: 0px;
  font-size: 26px;
  font-family: 'Poller One';
}

.marquee-star {
  color: #fff;
  padding: 0px 50px;
}

.armor-black-marquee h5 span {
  color: #D01018;
}

.blackarmor-marquee-sec {
  background: #000;
  width: 100%;
}

.armor-black-marquee .marquee-star {
  color: #fff;
  font-size: 25px;
  line-height: 10px;
  margin-top: 5px;
}


/************ Black Marquee Sec CSS End **************/


/************ White Marquee CSS Start **************/

.armor-white-marquee {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 10px 0px;
  border-top: 1px solid #D01018;
  border-bottom: 1px solid #D01018;
}

.first-banner-sec .rfm-marquee-container {
  position: absolute;
  bottom: -80px;
  z-index: 9;
  transform: rotate(4deg);
}

.armor-white-marquee h5 {
  color: #000;
  margin: 0px;
  font-size: 26px;
  font-family: 'Poller One';
}

.marquee-star {
  color: #000;
  padding: 0px 50px;
}

.armor-white-marquee h5 span {
  color: #D01018;
}


.Whitearmor-marquee-sec {
  background: #fff;
  width: 100%;
}


.armor-white-marquee .marquee-star {
  font-size: 25px;
  line-height: 10px;
  margin-top: 5px;
}


/************ White Marquee CSS End **************/


/************ About Our Company Section CSS Start **************/

section.aboutcompany-sec {
  padding: 150px 0px 100px 0px;
  background: url(/src/images/OurCompanyBanner.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.aboutcompany-sec .rfm-marquee-container {
  position: absolute;
  top: 30px;
  transform: rotate(-4deg);
  z-index: 999;
}

.aboutcompany-img img {
  height: 700px;
}


.aboutcompany-text h5 {
  color: #D01018;
  font-family: 'Allison';
  font-size: 64px;
  line-height: 50px;
}

.aboutcompany-text h2 {
  font-size: 77px;
  font-family: 'Poller One';
  color: #1E1E1E;
  line-height: 70px;
  text-transform: capitalize;
}

.aboutcompany-text h2 span {
  color: #D01018;
}

.aboutcompany-text p {
  font-size: 20px;
  font-family: "Poppins", serif;
  font-weight: 200;
}

.aboutcompany-text a {
  display: inline-block;
  margin: 10px 0px 0px 0px;
}

.aboutcompany-text {
  margin: 80px 0px 0px 0px;
  position: relative;
}

.aboutcompany-img {
  position: relative;
}

.aboutcompany-img .abouthelmetimg {
  height: auto;
  position: absolute;
  right: 30px;
  width: 200px;
  top: 100px;
  animation: upAndDown 4s infinite;
}

.aboutcompany-text img {
  position: absolute;
  right: 0px;
  top: 0px;
  animation: upAndDown 4s infinite;
}




/************ About Our Company Section CSS End **************/


/************ Shop By Category Section CSS Start **************/


.shopby-category-sec {
  background: url(./images/categorybg.png) no-repeat;
  background-size: cover;
  padding: 75px 0px 80px 0px;
  height: 935px;
  position: relative;
}

.shopby-category-sec img.sidewall-img {
  position: absolute;
  top: 0px;
  right: 0px;
  animation: upAndDown 4s infinite;
}

.shopby-category-sec img.catgory-rightsquare {
  position: absolute;
  right: 130px;
  bottom: 50px;
  width: 100px;
  animation: upAndDown 4s infinite;
}

.shopby-category-sec img.catgory-leftsquare {
  position: absolute;
  left: -50px;
  top: 170px;
  width: 100px;
  animation: upAndDown 4s infinite;
}


.category-head {
  text-align: center;
  color: #fff;
  margin: 0px 0px 50px 0px;
}

.category-head h6 {
  font-family: 'Allison';
  font-size: 65px;
  line-height: 70px;
}

.category-head h2 {
  font-family: 'Poller One';
  font-size: 77px;
  line-height: 60px;
  text-transform: uppercase;
}

.category-head h2 span {
  display: block;
}


.category-card {
  text-align: center;
}

.category-card img {
  margin: 0 auto;
}

.category-card h3 {
  font-family: 'Maven Pro';
  color: #fff;
  text-transform: capitalize;
  padding: 33px 0px 0px 0px;
}

.category-card p {
  font-family: 'Maven Pro';
  color: #fff;
  font-size: 16px;
  padding: 0px 60px;
}

.category-card a {
  font-size: 40px;
  color: #fff;
  line-height: 30px;
}

.slick-slide.slick-active .category-card img {
  transition: all .4s ease-in-out;
  transform: scale(1.3);
  margin-top: -33px;
}

.slick-slide.slick-active .category-card .category-txt {
  margin: 35px 0px 0px 0px;
}

.slick-slide.slick-active.slick-center.slick-current .category-card img {
  transform: scale(1);
  margin-top: 0px;
}

.slick-slide.slick-active.slick-center.slick-current .category-txt {
  margin: 0px 0px 0px 0px;
}


section.shopby-category-sec .slick-track {
  padding: 80px 0px 0px 0px;
}


/************ Shop By Category Section CSS End **************/


/************ Products Section CSS Start **************/


.selling-products-sec {
  background: url(./images/prodsecbg.png) no-repeat;
  background-size: cover;
  padding: 100px 0px;
}

.best-selling-head {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0px 0px 55px 0px;
}

.best-selling-head img {
  width: 175px;
}

.best-selling-txt h6 {
  font-family: 'Allison';
  color: #D01018;
  font-size: 64px;
  line-height: 50px;
}

.best-selling-txt h2 {
  color: #1E1E1E;
  font-size: 77px;
  font-family: 'Poller One';
  text-transform: uppercase;
  line-height: 60px;
}

.best-selling-txt h2 span {
  display: block;
  color: #D01018;
}


.product-card img {
  width: 100%;
}

.product-card h3 {
  color: #000;
  font-family: 'Maven Pro';
  font-size: 25px;
  padding: 10px 0px 0px 0px;
  font-weight: bold;
}

.product-card p {
  color: #000;
  font-family: 'Maven Pro';
  font-size: 14px;
  font-weight: 500;
  margin: 0px 0px 5px 0px;
}

.price-rating h6 {
  color: #D01018;
  font-family: 'Allison';
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.price-rating h6 span {
  font-size: 25px;
  margin: 0px 10px 0px 0px;
}

.productcard-txt {
  margin: 0px 0px 0px 20px;
}

.product-card {
  height: 800px;
}


.selling-products-sec .container .prodstyling> :nth-child(1) .product-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
}

.selling-products-sec .container .prodstyling> :nth-child(3) .product-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
}


.cart-icon-with-count {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

.inner-product-card .theme-btn {
  padding: 8px 20px;
  border-radius: 10px;
}


/************ Products Section CSS End **************/


/************ Product detail Section CSS Start **************/


section.product-detail-page {
  padding: 80px 0px 100px 0px;
}

.product-detail-txt h2 {
  font-family: 'Poller One';
  color: #000;
  font-size: 40px;
}

.product-detail-txt h6 {
  font-size: 20px;
  color: #000;
  padding: 15px 0px;
  font-family: 'Maven Pro';
}

.product-detail-txt p {
  font-family: 'Poppins';
  font-size: 20px;
  color: #000;
}

.card-counter {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #fff;
  width: fit-content;
  padding: 5px 20px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  margin: 30px 0px 30px 0px;
}

.card-counter button {
  background: transparent;
  border: none;
  font-size: 20px;
}

.card-counter span.count-number {
  font-size: 20px;
  font-family: 'Maven Pro';
}

.product-img img {
  width: 100%;
}

.product-img {
  padding: 40px;
}


/************ Product detail Section CSS End **************/



/************ Brand Section CSS Start **************/


.brand-sec {
  background: url(./images/brandbg.png) no-repeat;
  background-size: cover;
  padding: 80px 0px;
}

.brand-head {
  text-align: center;
  color: white;
  margin: 0px 0px 60px 0px;
}

.brand-head h6 {
  font-family: 'Allison';
  font-size: 64px;
  line-height: 30px;
}

.brand-head h2 {
  font-size: 77px;
  font-family: 'Poller One';
  line-height: 80px;
}

.brand-logo {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding: 0px 15px;
}

.brand-logo img {
  width: 100%;
  transform: translate(0px, 0px);
  transition: all .6s ease;
}

.brand-logo img:hover {
  transform: translate(0px, -20px);
  transition: all .6s ease;
}


/************ Brand Section CSS End **************/


/************ Testimonials Section CSS Start **************/


.testimonails-sec {
  background: url(./images/testimonial.png) no-repeat;
  background-size: cover;
  padding: 180px 0px 90px 0px;
}

.testimonails-text {
  border: 1px solid #D01018;
  padding: 105px 40px 40px 40px;
  margin: 0px 20px 0px 0px;
}

.testimonail-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.testimonail-card:focus {
  outline: none;
}


.testimonail-card img {
  margin: 0px 0px -75px 0px;
  width: 150px;
  position: relative;
}

.testimonails-text span {
  margin: 0px 0px 10px 0px;
  display: inline-block;
}

.testimonails-text p {
  font-family: 'Maven Pro';
  font-weight: 400;
  font-size: 18px;
}

.testimonails-text h5 {
  font-family: 'Maven Pro';
  font-weight: 500;
  font-size: 24px;
  font-style: italic;
}

.testimonail-head h6 {
  color: #D01018;
  font-family: 'Allison';
  font-size: 64px;
  line-height: 60px;
}

.testimonail-head h2 {
  color: #222222;
  font-family: 'Poller One';
  text-transform: uppercase;
  font-size: 77px;
  line-height: 65px;
  margin: 0px 0px 50px 0px;
}

.testimonail-head {
  padding: 0px 0px 0px 40px;
  position: relative;
}

.testimonail-head .testimonail-animate-img {
  position: absolute;
  right: -50px;
  top: -30px;
  animation: upAndDown 2s infinite;
}


.testimonail-head a {
  text-transform: uppercase;
  font-family: 'Poppins';
  color: #222222;
  font-size: 28px;
  font-weight: 500;
  text-align: end;
  display: inline-block;
  position: relative;
  transition: all .6s ease;
  margin: 0px 40px 0px 0px;
  z-index: 9;
  width: 100%;
}

.testimonail-head a::before {
  position: absolute;
  content: "";
  border: 1px solid #D01018;
  width: 100px;
  height: 100px;
  top: -28px;
  border-radius: 50px;
  left: 40px;
  transition: all .6s ease;
}

.testimonail-head a::after {
  position: absolute;
  content: "→";
  font-size: 90px;
  line-height: 33px;
  left: 28%;
  color: #D01018;
  transition: all .6s ease;
}


.testimonail-head a:hover {
  transition: all .6s ease;
  color: #D01018;
  padding: 0px 90px 0px 0px;
}


.testimonail-head a:hover:before {
  border-radius: 10px;
  width: 250px;
  left: 140px;
  height: 70px;
  top: -16px;
}


.testimonail-head a:hover:after {
  font-size: 60px;
  left: 80%;
}

/************ Testimonials Section CSS End **************/


/************ Custom Uniform Section CSS Start **************/

.custom-uniform-sec {
  background: url(/src/images/customuniformbg.png) no-repeat;
  background-size: cover;
  padding: 80px 0px 117px 0px;
  margin: 0px 0px -90px 0px;
  position: relative;
}


.custom-uniform-img img {
  width: 100%;
  z-index: 99;
  position: relative;
  animation: upAndDown 2s infinite;
}


.custom-uniform-txt h6 {
  font-family: 'Allison';
  font-size: 65px;
  color: #fff;
  line-height: 50px;
}

.custom-uniform-txt h2 {
  color: #fff;
  font-family: 'Poller One';
  font-size: 77px;
  line-height: 65px;
  text-transform: uppercase;
}

.custom-uniform-txt p {
  font-family: 'Poppins';
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  margin: 0px 0px 30px 0px;
}

.custom-uniform-txt {
  padding: 50px 0px 0px 0px;
}

.custom-uniform-img {
  position: relative;
}

.custom-uniform-img .custom-absltimg {
  position: absolute;
  left: 50%;
  z-index: 0;
  width: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: none;
}

/************ Custom Uniform Section CSS End **************/



/************ Football Product Page Section CSS Start **************/


.inner-product-card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.inner-product-card {
  padding: 20px;
  margin: 0px 0px 30px 0px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15),
    0 5px 10px rgba(0, 0, 0, 0.05);
}

section.product-pg-sec {
  padding: 100px 0px 50px 0px;
  background: url(/src/images/prodsecbg.png) no-repeat;
  background-size: cover;
}


.inner-product-card h3 {
  color: #000;
  font-family: 'Maven Pro';
  font-size: 22px;
  padding: 10px 0px 0px 0px;
  font-weight: bold;
}


.inner-product-card p {
  color: #D01018;
  font-family: 'Allison';
  font-size: 30px;
  font-weight: 600;
}



/************ Football Product Page Section CSS End **************/


/************ Privacy Policy Page Section CSS Start **************/


.privacypolicy-txt h2 {
  font-family: "Poller One", serif;
  font-size: 28px;
  line-height: 60px;
  text-transform: uppercase;
}

.privacypolicy-date {
  padding: 50px 0px 0px 0px;
}

.privacypolicy-date p {
  color: #D01118;
}

.privacypolicy-txt p {
  font-family: 'Maven Pro';
}

.privacypolicy-txt {
  padding: 0px 0px 50px 0px;
}



/************ Privacy Policy Page Section CSS End **************/


/************ Terms Conditions Page Section CSS Start **************/


.termsconditions-txt h2 {
  font-family: "Poller One", serif;
  font-size: 28px;
  line-height: 60px;
  text-transform: uppercase;
}

.termsconditions-date {
  padding: 50px 0px 0px 0px;
}

.termsconditions-date p {
  color: #D01118;
}

.termsconditions-txt p {
  font-family: 'Maven Pro';
}

.termsconditions-txt {
  padding: 0px 0px 50px 0px;
}


/************ Terms Conditions Page Section CSS End **************/


/************ Login Page  CSS Start **************/



section.login-form-sec {
  padding: 100px 0px;
}

.armorzone-login-form {
  background: url(/src/images/prodsecbg.png) no-repeat;
  background-size: cover;
  padding: 30px;
  border: 1px solid #D01118;
}

.armor-input-field {
  margin: 20px 0px 0px 0px;
}

.armor-input-field input:focus {
  outline: none;
}

.armor-input-field input {
  width: 100%;
  padding: 10px 10px;
  font-family: 'Poppins';
  color: #000;
  border: 1px solid #D01118;
  border-radius: 4px;
}

.login-form-head h6 {
  font-family: 'Allison';
  font-size: 40px;
  color: red;
  line-height: 60px;
  margin: 0px;
  text-align: center;
}

.login-form-head {
  margin: 0px 0px 10px 0px;
}

.armor-input-field label {
  font-family: 'Poppins';
  margin: 0px 0px 8px 0px;
  font-size: 16px;
  font-weight: 500;
}

.login-form-btn {
  margin: 20px 0px 10px 0px;
  text-align: center;
}

.forgot-password a {
  font-family: 'Poppins';
  text-decoration-line: underline;
  color: #D01018;
  font-size: 14px;
}

.forgot-password {
  margin: 5px 0px 10px 0px;
}

.goto-singup-button {
  text-align: center;
  margin: 15px 0px 20px 0px;
}

.goto-singup-button span {
  font-family: 'Poppins';
  font-size: 14px;
}

.goto-singup-button span a {
  color: #D01018;
  text-decoration-line: underline;
}


.user-dropdown img {
  width: 30px;
  border-radius: 30px;
  height: 30px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-menus {
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 9999;
  display: block;
}


.dropdown-menus button {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: 4px 14px;
  cursor: pointer;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-family: 'Poppins';
}


.dropdown-menus button:focus {
  outline: none;
}


.header-end {
  position: relative;
}



/************ Login Page  CSS End **************/


/************ Signup Page CSS Start **************/


.armorzone-signup-form {
  background: url(/src/images/prodsecbg.png) no-repeat;
  background-size: cover;
  padding: 30px;
  border: 1px solid #D01118;
}

.signup-form-head h6 {
  font-family: 'Allison';
  font-size: 40px;
  color: red;
  line-height: 60px;
  margin: 0px;
  text-align: center;
}

.signup-form-head {
  margin: 0px 0px 10px 0px;
}

section.sign-up-sec {
  padding: 100px 0px;
}

.armor-checkbox-field label {
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 10px 0px 0px 3px;
  font-family: 'Maven Pro';
  font-size: 14px;
  color: #000;
}

.armor-checkbox-field label a {
  color: #D01018;
  text-decoration-line: underline;
}


/************ Signup Page CSS End **************/


/************ Checkout Page CSS Start **************/

.order-summary {
  padding: 30px;
  background: #ebebeb;
  border-radius: 7px;
}

.order-summary-product {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 10px 0px;
}

.order-product-detail h6 {
  font-family: 'Poppins';
  font-size: 16px;
  margin: 0px;
}

.order-product-detail p {
  font-size: 16px;
  font-family: 'Maven Pro';
}


.total-amount-txt h5 {
  font-family: 'Poppins';
}

.order-summary-product .order-product-price {
  font-family: 'Maven Pro';
}

.order-summary h4 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  margin: 0px 0px 30px 0px;
}

.payment-details-box h4 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  margin: 0px 0px 20px 0px;
}

.payment-details-box form label.form-label {
  font-family: 'Poppins';
}

.payment-details-box form input {
  color: #000;
  padding: 8px 15px;
  border-radius: 4px;
  font-family: 'Poppins';
}

.pay-btn {
    background: #D01118;
    color: #fff;
    padding: 8px 15px;
    border: 1px solid #D01118;
    border-radius: 7px;
    font-family: 'Maven Pro';
    margin: 20px 0px 0px 0px;
    transition: all .6s ease;
}

.pay-btn:hover {
    background: transparent;
    color: #D01118;
}

.pay-btn:focus {
    outline: none;
}


/************ Checkout Page CSS End **************/



/************ Footer Main CSS Start **************/

.footer-main {
  background: url(./images/footerbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0px 50px 0px;
  position: relative;
}

footer.footer-main::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(180deg, rgb(255 255 255 / 68%) 9.2%, rgb(255 255 255 / 11%) 103.9%);
  height: 60px;
  top: 0px;
  width: 100%;
  box-shadow: rgb(255 255 255 / 20%) 0px 4px 29px 3px;
}

.footer-logo p {
  padding: 10px 30px 0px 0px;
  color: #ffffff73;
  font-family: 'Maven Pro';
  margin: 0px 0px 5px 0px;
}

.footer-links h4 {
  color: #fff;
  font-family: 'Poller One';
  font-size: 24px;
  padding: 0px 0px 10px 0px;
}

.footer-links {
  margin: 20px 0px 0px 0px;
}

.footer-links ul li a {
  color: #fff;
  font-family: 'Maven Pro';
  font-weight: 400;
  font-size: 17px;
  text-transform: capitalize;
  transition: all .6s ease;
}

.footer-logo ul li a svg {
  transition: all .6s ease;
}

.footer-logo ul li a svg:hover {
  color: #D01118;
}

.footer-links ul li a:hover {
  color: #D01118;
}

.footer-links ul li {
  padding: 3px 0px;
}

.footer-end h4 {
  color: #fff;
  font-family: 'Poller One';
  font-size: 24px;
  padding: 0px 0px 10px 0px;
}

.footer-end {
  margin: 20px 0px 0px 0px;
  position: relative;
}

.footer-end input {
  padding: 12px 20px;
  width: 100%;
  border-radius: 30px;
  border: none;
  font-family: 'Maven Pro';
}

.footer-end button {
  position: absolute;
  right: 4px;
  border: 1px solid #D01118;
  background: #D01118;
  font-family: 'Maven Pro';
  color: #fff;
  text-transform: capitalize;
  padding: 8px 25px;
  top: 50px;
  border-radius: 30px;
  transition: all .6s ease;
}

.footer-end button:focus {
  outline: none;
}

.footer-end button:hover {
  background: transparent;
  color: #D01118;
}

.footer-end input:focus {
  outline: none;
}

.footer-logo ul li a {
  color: #fff;
  font-size: 28px;
}

.footer-logo ul {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

section.footer-copyright {
  background: #D01118;
  position: relative;
  padding: 10px 0px;
  text-align: center;
}

section.footer-copyright p {
  margin: 0px;
  color: #fff;
  font-family: 'Poppins';
}

.footer-copyright::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 100%;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(180deg, rgb(0 0 0 / 57%) 9.2%, rgb(0 0 0 / 11%) 103.9%);
  box-shadow: rgb(0 0 0 / 21%) 0px 4px 29px 3px;
}


/************ Footer Main CSS End **************/



/************ Inner Banner CSS Start **************/


.innerbanner-sec {
  background: url(./images/innerbanner.png) no-repeat;
  background-size: cover;
  padding: 150px 0px 50px 0px;
  background-position: center;
}

.innerbanner-txt {
  padding: 90px 0px;
  text-align: center;
}

.innerbanner-txt h2 {
  font-size: 70px;
  font-family: 'Poller One';
  text-transform: uppercase;
  color: #000;
}


/************ Inner Banner CSS End **************/



/************ About Us Page CSS Start **************/

.aboutus-pg .aboutcompany-sec .rfm-marquee-container {
  display: none;
}

/************ About Us Page CSS End **************/


/************ Contact Us Page CSS Start **************/

.contactus-sec {
  padding: 100px 0px;
}

.getintouch-assets {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0px 0px 30px 0px;
  padding: 15px;
  border: 1px solid #D01118;
  width: 400px;
  border-radius: 5px;
  transform: translate(0px, 0px);
  transition: all .6s ease;
  cursor: pointer;
}


.getintouch-assets span {
  font-size: 30px;
  line-height: 20px;
  padding: 15px;
  background: #D01118;
  color: #fff;
  border-radius: 5px;
  transition: all .6s ease;
}

.getintouch-asset-txt h4 {
  font-family: 'Poppins';
  color: #000;
  margin: 0px;
  font-size: 22px;
  text-transform: capitalize;
  transition: all .6s ease;
}

.getintouch-asset-txt h6 {
  font-family: 'Maven Pro';
  margin: 0px;
  font-size: 18px;
  transition: all .6s ease;
}

.getintouch-txt h3 {
  font-family: "Allison", serif;
  text-transform: capitalize;
  font-size: 70px;
  color: #D01118;
  line-height: 80px;
}

.getintouch-txt p {
  font-family: 'Maven Pro';
  font-size: 18px;
  margin: 10px 100px 30px 0px;
  font-weight: 500;
}

.getintouch-assets:hover {
  background: #D01118;
  transform: translate(0px, -10px);
}

.getintouch-assets:hover span {
  background: #fff;
  color: #D01118;
}

.getintouch-assets:hover .getintouch-asset-txt h4 {
  color: #fff;
}

.getintouch-assets:hover .getintouch-asset-txt h6 {
  color: #fff;
}




.contactus-form {
  background: url(./images/prodsecbg.png) no-repeat;
  background-size: cover;
  padding: 30px;
  border: 1px solid #D01118;
}

.contactform-head {
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.contactform-head h6 {
  font-family: 'Allison';
  font-size: 40px;
  color: red;
  line-height: 60px;
  margin: 0px;
}

.contactform-head h4 {
  font-family: 'Poller One';
  font-size: 32px;
  text-transform: uppercase;
}

.input-field input {
  width: 100%;
  padding: 10px 10px;
  font-family: 'Poppins';
  color: #000;
  border: 1px solid #D01118;
  border-radius: 4px;
}

.input-field input:focus {
  outline: none;
}

.input-field {
  margin: 0px 0px 20px 0px;
}

.input-field label {
  font-family: 'Poppins';
  margin: 0px 0px 8px 0px;
  font-size: 16px;
  font-weight: 500;
}

.input-field input::placeholder {
  font-family: 'Poppins';
}

.input-field textarea {
  width: 100%;
  padding: 10px 10px;
  height: 180px;
  border-radius: 5px;
  border: 1px solid #D01118;
  font-size: 18px;
  font-family: 'Poppins';
}

.input-field textarea:focus {
  outline: none;
}

.contactform-btn {
  text-align: center;
}


/************ Contact Us Page CSS End **************/



/************ Keyframe animation CSS Start **************/


@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}



/************ Keyframe animation CSS End **************/


/* fsdfsfdsfs */



/************ Mobile Responsive CSS Start **************/


@media only screen and (max-width: 1024px) {
  .order-summary h4 {
    font-size: 26px;
  }

  .innerbanner-txt h2 {
    font-size: 60px;
  }

  .firstbanner-img img {
    width: 100%;
  }

  .first-banner-text h2 {
    font-size: 85px;
    line-height: 80px;
  }

  .testimonail-head h2 {
    font-size: 47px;
    line-height: 45px;
  }

  .testimonail-head .testimonail-animate-img {
    right: -10px;
    top: 0px;
    width: 80px;
  }

  .testimonail-head h6 {
    font-size: 44px;
    line-height: 40px;
  }

  .testimonail-head {
    padding: 0px 0px 0px 10px;
  }

  .testimonail-head a::after {
    font-size: 70px;
    line-height: 33px;
    left: 32%;
  }


  .testimonail-head a::before {
    width: 80px;
    height: 80px;
    top: -18px;
    left: 40px;
  }


  .testimonail-head a {
    font-size: 24px;
    margin: 0px 10px 0px 0px;
  }

  .testimonail-head a:hover:before {
    left: 30px;
    height: 60px;
    top: -11px;
  }

  .testimonail-head a:hover {
    padding: 0px 130px 0px 0px;
    margin: 0px;
  }

  .testimonail-head a:hover:after {
    font-size: 60px;
    left: 60%;
  }


  .custom-uniform-sec {
    background: url(/src/images/customuniformbg.png) no-repeat center;
  }

  .slick-slide.slick-active .category-card img {
    transform: scale(1.2);
  }

  .aboutcompany-img img {
    height: 550px;
  }

  .aboutcompany-img .abouthelmetimg {
    right: 0px;
    width: 150px;
    top: 50px;
  }



}


@media only screen and (max-width: 786px) {
  .header-nav {
    display: none;
  }

  .header-end ul {
    justify-content: end;
    height: 100%;
  }

  .mobile-menu-header .header-logo img {
    width: 60px;
  }

  .first-banner-sec .rfm-marquee-container {
    bottom: -60px;
    transform: rotate(8deg);
  }

  .aboutcompany-sec .rfm-marquee-container {
    top: 0px;
    transform: rotate(-6deg);
  }

  .aboutcompany-text p {
    color: #fff;
  }

  .aboutcompany-text h2 {
    color: #ffff;
    font-size: 70px;
  }

  .aboutcompany-text {
    background: #ffffff14;
    padding: 30px;
    border-radius: 13px;
    backdrop-filter: drop-shadow(2px 4px 6px black);
  }

  .slick-slider {
    z-index: 999;
  }

  .slick-slide.slick-active .category-card img {
    transition: all .4s ease-in-out;
    transform: scale(1);
    margin-top: 0;
  }

  section.shopby-category-sec .slick-track {
    padding: 40px 0px 0px 0px;
  }

  .shopby-category-sec img.sidewall-img {
    filter: opacity(0.5);
  }

  .slick-slide.slick-active .category-card .category-txt {
    margin: 0px 0px 0px 0px;
  }

  .custom-uniform-sec {
    background: url(/src/images/customuniformbg.png) no-repeat center;
    background-size: cover;
    padding: 20px 0px 40px 0px;
  }

  .testimonail-head {
    padding: 20px 0px 50px 40px;
    margin: 70px 0px 0px 0px;
    background: #ffffff54;
    border-radius: 13px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }

  .testimonail-head h2 {
    font-size: 65px;
  }

  .testimonail-head a {
    display: block;
    width: 300px;
  }

  .testimonail-head a:hover {
    width: 250px;
  }


  .testimonail-head a:hover:before {
    left: 20px;
  }

  .footer-logo img {
    width: auto;
    margin: 0px 0px 10px 0px;
  }

  .footer-logo p {
    margin: 0px 0px 10px 0px;
    color: #fff;
  }

  .testimonail-head .testimonail-animate-img {
    right: -20px;
  }

  .shopby-category-sec img.catgory-leftsquare {
    left: 20px;
    top: 60px;
  }

  .aboutcompany-text img {
    right: 20px;
    top: 30px;
    width: 80px;
  }

  .shopby-category-sec {
    background: url(/src/images/categorybg.png) no-repeat center;
  }

  .innerbanner-txt {
    padding: 50px 0px;
  }


  .innerbanner-txt h2 {
    font-size: 50px;
  }

  section.product-detail-page {
    padding: 40px 0px 80px 0px;
  }

  .header-logo img {
    width: 60px;
  }

  .inner-product-card h3 {
    font-size: 18px;
  }

  .inner-product-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .contactus-sec {
    padding: 60px 0px 80px 0px;
  }

  .getintouch-txt {
    margin: 0px 0px 60px 0px;
  }

  .testimonails-sec {
    padding: 70px 0px 90px 0px;
  }

  .testimonails-text {
    padding: 105px 30px 30px 30px;
  }


  .first-banner-text h2 {
    font-size: 125px;
    line-height: 110px;
  }

  .aboutcompany-img img {
    height: 700px;
  }

  .aboutcompany-img .abouthelmetimg {
    right: 50px;
    width: 200px;
    top: 50px;
  }


  .testimonail-head h2 {
    font-size: 65px;
    line-height: 65px;
  }

  .testimonail-head a:hover:after {
    left: 70%;
  }

  .testimonail-head a:hover {
    padding: 0px 110px 0px 0px;
  }

  


}


@media only screen and (max-width: 600px) {
  .first-banner-text h2 {
    font-size: 95px;
    line-height: 80px;
  }

  .header-logo img {
    width: 50px;
  }

  .first-banner-text {
    padding: 50px 0px 40px 0px;
  }

  .aboutcompany-text h2 {
    font-size: 50px;
  }

  .aboutcompany-text p {
    font-size: 16px;
  }

  .best-selling-head {
    gap: 10px;
  }

  .best-selling-head img {
    width: 120px;
  }

  .best-selling-txt h6 {
    font-size: 44px;
    line-height: 30px;
  }


  .best-selling-txt h2 {
    font-size: 57px;
    line-height: 50px;
  }

  .selling-products-sec .container .prodstyling> :nth-child(3) .product-card {
    margin: 30px 0px 0px 0px;
  }

  .product-card {
    height: auto;
  }

  .custom-uniform-txt h2 {
    font-size: 60px;
    line-height: 55px;
  }

  .custom-uniform-txt {
    padding: 50px 0px 40px 0px;
  }


  .testimonail-head h2 {
    font-size: 45px;
    line-height: 55px;
  }

  .footer-logo {
    margin: 0px 0px 20px 0px;
  }

  .footer-links {
    margin: 20px 0px 20px 0px;
  }

  .innerbanner-txt h2 {
    font-size: 40px;
  }

  .getintouch-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .getintouch-txt p {
    font-size: 18px;
    margin: 10px 0px 30px 0px;
    text-align: center;
  }

  .privacypolicy-txt h2 {
    font-size: 22px;
    line-height: 40px;
  }

  .termsconditions-txt h2 {
    font-size: 22px;
    line-height: 40px;
  }

  .firstbanner-img img {
    width: 100%;
  }

  .aboutcompany-img img {
    height: 500px;
  }

  .aboutcompany-img .abouthelmetimg {
    width: 160px;
    top: 60px;
  }

}


@media only screen and (max-width: 425px) {

  .first-banner-text h2 {
    font-size: 75px;
    line-height: 60px;
  }

  .first-banner-text {
    padding: 50px 0px 40px 0px;
    text-align: center;
  }

  .firstbanner-img img {
    width: 100%;
  }

  .aboutcompany-img img {
    width: 70%;
    height: auto;
  }

  .aboutcompany-img .abouthelmetimg {
    right: 30px;
    width: 150px;
    top: 40px;
  }

  .aboutcompany-text {
    margin: 20px 0px 0px 0px;
  }



  .category-head h2 {
    font-size: 58px;
    line-height: 50px;
  }

  .category-head {
    text-align: center;
    color: #fff;
    margin: 0px 0px 20px 0px;
    position: relative;
    z-index: 9999;
  }

  .category-head h6 {
    font-size: 45px;
    line-height: 40px;
  }

  .shopby-category-sec img.sidewall-img {
    height: 80%;
  }


  .shopby-category-sec img.catgory-leftsquare {
    left: 20px;
    top: 60px;
    width: 80px;
  }

  .shopby-category-sec img.catgory-rightsquare {
    right: 30px;
    width: 80px;
  }


  .best-selling-head img {
    width: 80px;
  }

  .best-selling-txt h2 {
    font-size: 48px;
    line-height: 40px;
  }

  .productcard-txt {
    margin: 0px;
    text-align: center;
    padding: 0px 30px;
  }

  .price-rating h6 {
    justify-content: center;
  }


  .brand-head h6 {
    font-size: 54px;
    line-height: 20px;
  }

  .brand-head h2 {
    font-size: 57px;
    line-height: 60px;
  }

  .custom-uniform-txt {
    text-align: center;
  }

  .custom-uniform-txt h2 {
    font-size: 50px;
    line-height: 45px;
  }

  .custom-uniform-txt h6 {
    font-family: 'Allison';
    font-size: 45px;
    color: #fff;
    line-height: 40px;
  }

  .custom-uniform-txt p {
    font-size: 16px;
  }

  .testimonail-head .testimonail-animate-img {
    right: 20px;
    top: 30px;
    width: 70px;
  }

  .testimonail-head {
    padding: 20px 0px 50px 30px;
  }

  .footer-logo {
    margin: 0px 0px 10px 0px;
    text-align: center;
    padding: 0px 20px;
  }

  .footer-logo p {
    padding: 10px 0px 0px 0px;
  }


  .footer-logo ul {
    justify-content: center;
  }


  .footer-links {
    text-align: center;
  }


  .footer-end {
    text-align: center;
    padding: 0px 30px;
  }


  .footer-end button {
    right: 34px;
    padding: 8px 25px;
  }

  .best-selling-head {
    justify-content: center;
  }

  .first-banner-sec {
    padding: 100px 0px 50px 0px;
    position: relative;
  }

  .testimonails-text {
    padding: 105px 20px 40px 20px;
  }

  .search-bar-container {
    top: 50px;
  }

  .innerbanner-txt h2 {
    font-size: 30px;
  }

  .product-detail-txt h2 {
    font-size: 30px;
  }

  .product-detail-txt p {
    font-size: 18px;
  }


  .product-detail-txt {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .product-detail-txt p {
    margin: 0px;
  }

  .payment-details-box {
    padding: 0px 10px;
  }

  .inner-product-card p {
    font-size: 24px;
  }

  .inner-product-card .theme-btn {
    padding: 8px 15px;
    font-size: 16px;
  }

  .inner-product-card span {
    display: block;
  }

  .inner-product-card {
    padding: 0px 30px 30px 30px;
    margin: 20px 50px;
    text-align: center;
  }

  .inner-product-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }


  .inner-product-card h3 {
    font-size: 20px;
    margin: 0px;
  }

  .getintouch-assets {
    width: 100%;
  }

  .contactform-head h4 {
    font-size: 25px;
  }

}


@media only screen and (max-width: 375px) {
  .first-banner-text h2 {
    font-size: 65px;
    line-height: 60px;
  }

  .first-banner-text h5 {
    font-size: 40px;
  }

  .testimonail-head a::before {
    left: 20px;
  }

  .testimonail-head a::after {
    left: 22%;
  }

  .testimonail-head a:hover:before {
    left: 0px;
  }

  .testimonail-head a {
    width: 270px;
  }

  .testimonail-head a:hover:after {
    left: 69%;
    line-height: 37px;
  }

  .testimonail-head h6 {
    font-size: 54px;
    line-height: 50px;
  }

  .testimonail-head .testimonail-animate-img {
    right: 20px;
    top: 50px;
    width: 70px;
  }

  .best-selling-txt h2 {
    font-size: 38px;
    line-height: 30px;
  }

  .category-head h2 {
    font-size: 38px;
    line-height: 30px;
  }

  .aboutcompany-text h2 {
    line-height: 50px;
  }

  .aboutcompany-text {
    background: #ffffff61;
  }

  .aboutcompany-text img {
    right: 20px;
    top: 40px;
    width: 80px;
  }

  .first-banner-text h2 {
    font-size: 65px;
    line-height: 55px;
  }

  .first-banner-text h5 {
    font-size: 40px;
  }

  .search-bar-container {
    top: 50px;
    right: -70px;
  }

  .inner-product-card {
    padding: 0px 30px 30px 30px;
    margin: 20px 30px;
    text-align: center;
  }


  section.product-pg-sec {
    padding: 50px 0px 50px 0px;
  }

  .aboutcompany-img .abouthelmetimg {
    right: 10px;
    width: 140px;
  }



}


@media only screen and (max-width: 320px) {
  .first-banner-text h2 {
    font-size: 55px;
    line-height: 45px;
  }

  .first-banner-text h5 {
    font-size: 35px;
  }

  .aboutcompany-text h2 {
    line-height: 40px;
    font-size: 40px;
  }

  .aboutcompany-text {
    padding: 20px;
  }

  .aboutcompany-text img {
    width: 60px;
  }

  .best-selling-txt h6 {
    font-size: 34px;
    line-height: 20px;
  }

  .best-selling-txt h2 {
    font-size: 28px;
    line-height: 24px;
  }

  .brand-head h2 {
    font-size: 47px;
    line-height: 50px;
  }

  .brand-head h6 {
    font-size: 44px;
    line-height: 10px;
  }

  .custom-uniform-txt h2 {
    font-size: 40px;
    line-height: 35px;
  }


  .cart-sidebar {
    right: -110%;
    width: 300px;
  }

  .testimonail-head a {
    width: 250px;
    font-size: 24px;
  }

  .testimonail-head a::before {
    width: 80px;
    height: 80px;
    top: -20px;
    left: 0px;
  }

  .testimonail-head a::after {
    left: 20%;
    font-size: 70px;
  }

  .testimonail-head a:hover {
    padding: 0px 120px 0px 0px;
  }

  .testimonail-head a:hover:before {
    width: 240px;
    left: 0px;
    height: 60px;
    top: -12px;
  }

  .testimonail-head a:hover:after {
    line-height: 28px;
  }

  .footer-end {
    padding: 0px 10px;
  }

  .footer-end button {
    right: 14px;
  }

  section.footer-copyright p {
    font-size: 14px;
  }

  .testimonails-text {
    padding: 105px 20px 40px 20px;
  }

  .innerbanner-txt {
    padding: 20px 0px;
  }

  .search-bar-container {
    left: -90px;
  }

  .search-form .search-icon-btn {
    right: -8px;
  }

  .innerbanner-txt h2 {
    font-size: 26px;
  }

  .firebaseui-card-content,
  .firebaseui-card-footer {
    padding: 0px !important;
  }

}



/************ Mobile Responsive CSS End **************/